{% extends 'base.html' %}
{% block title %} Courses {% endblock %}
{% block content %}
    <div class="container-fluid">
            <div class="container text-center">
                <br>
                <h3>COURSES</h3>
                <br>
            </div>
            <div class="container-fluid">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" style="width: 60%">NAME</th>
                    <th scope="col">CODE</th>
                </tr>
                </thead>
                {% for course in course_list %}
                <tr>
                    <td col>
                      {{ course[1] }}
                    </td>
                    <td>
                      {{ course[2] }}
                    </td>
                </tr>
                {% endfor %}

    </div>

{% endblock %}